@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?eimpet');
  src:  url('../fonts/icomoon.eot?eimpet#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?eimpet') format('truetype'),
    url('../fonts/icomoon.woff?eimpet') format('woff'),
    url('../fonts/icomoon.svg?eimpet#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 68px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-about:before {
  content: "\e904";
}
.icon-contact:before {
  content: "\e905";
}
.icon-projects:before {
  content: "\e906";
}
.icon-scroll:before {
  content: "\e907";
}
.icon-services:before {
  content: "\e908";
}
.icon-skills:before {
  content: "\e909";
}
.icon-logo:before {
  content: "\e90a";
}
.icon-ci:before {
  content: "\e900";
}
.icon-di:before {
  content: "\e901";
}
.icon-ui:before {
  content: "\e902";
}
.icon-wd:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address:before {
  content: "\e94a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}

/*Estilos Globales*/
body{
  font: 14px montserrat, sans-serif;
  padding: 0;
  margin: 0;
}
.container{
  width: 75%;
	margin:auto;
  overflow: hidden;
  text-align: center;
}
.container2{
  width: 50%;
	margin:auto;
  overflow: hidden;
  text-align: center;
}
  p.sectionNumber{
    color:gray;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0;
  }
  h2{
    font-size: 24px;
    margin-top: 0;
  }
  .iconSection{
    width: 38px;
    display: block;
    margin: 0 auto;
  }
  /* Tooltip container */
  .tooltip {
      position: relative;
      display: inline-block;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
      visibility: hidden;
            background-color: black;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      padding: 10px 20px;
      border-radius: 6px;
      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 40%;
      margin-left: -82px;
      /* Fade in tooltip */
      opacity: 0;
      transition: opacity 0.5s;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 0.8;
  }

/*Header*/

/*Header Blanco*/
header{
  background: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px grey;
  z-index: 2;
}
nav a{
  color: black;
  opacity: 0.6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 4px 9px 4px;;
}
nav a:hover{
  opacity: 0.8;
}
.activo {
  border-bottom: 4px solid #00ACED;
  opacity: 1;
}
/*header{
  background: rgba(0, 0, 0, 0.4);
  color: white;
  position: fixed;
  width: 100%;
}
nav a{
  color: white;
  opacity: 0.6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 4px 9px 4px;;
}
nav a:hover{
  opacity: 0.8;
}
.activo {
  border-bottom: 4px solid white;
  opacity: 1;
}*/

header ul{
  padding: 0;
  margin: 0;
}
header li{
  float: left;
  display:inline;
  padding-left: 20px;
}
#logo{
  float: left;
  padding: 9px 0 5px 0;
}
#logo a{
  text-decoration: none;
}
#logo i{
  font-size: 30px;
  color: black;
  opacity: 0.6;
}
#logo i:hover{
  color: black;
  opacity: 0.8;
  transition: 200ms;
}
nav{
  float: right;
  margin-top: 16px;
}
.navItem {
    padding: 0px;
    margin-left: 15px;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-top: 6px;
  float: right;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
  transition-delay: 0.2s;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-7px, 6px) ;
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 46px;
}

.sidenav a {
  padding: 12px 10px;
  margin: 0 0 0 15px;
  border-top: 1px solid #ccc;
  text-decoration: none;
  font-size: 20px;
  color: #888;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .sidenav a:focus{
  color: #333;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#header {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*Welcome*/

/*#welcome{
  padding-top: 46px;
    color: white;
    background-image: url(../images/bg.jpg);
    height: 94vh;
    background-size: cover;
}*/

#cover{
  background-image: url("../images/bg.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
#welcome{
  color: white;
}
#welcome h1{
  font-weight: 700;
  font-size: 38px;
  margin: auto 0px;
}
.container3{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-end;
text-align: center;
}
.button{
  width: 87px;
  padding: 15px 28px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  color:white;
  font-size: 16px;
  border-radius: 24px;
  text-decoration: none;
  }
  .button:hover{
    background: rgba(255, 255, 255, 0.5);
    }

/*About*/
#about{
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about i{
  font-size: 32px;
  color: gray;
}
p.aboutme{
  color: gray;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 50px;
}
#about span{
  font-weight: 500;
}

/*Services*/
#services{
  background: #eaeaea;
}
#services i.icon-services{
  font-size: 32px;
  color: gray;
}
.bigBox{
  /*display: flex;
  justify-content: center;*/
}
.servicesBox{
  display: inline-block;
  width: 24%;
  margin: 30px 0 30px 0;
  padding-top: 1.67em;
  border: 1px solid gainsboro;
}
.servicesBox img{
  width: 86px;
}
#services h5{
  color: grey;
  font-weight: normal;
  font-size: 14px;
  padding: 0 25px;
}
#services .servicesBox{
  color: #474747;
}
#services .servicesBox:hover{
  color: #00ACED;
  transition: 200ms;
}

/*Skills*/
#skills{
  background: #f7f7f7;
}
#skills i{
  font-size: 32px;
  color: gray;
}
.skillsBox{
  display: inline-block;
  width: 24%;
  margin: 30px 0 30px 0;
}

/*Hire me*/
#hireme{
  text-align: center;
  background-image: -moz-linear-gradient( 2deg, rgb(0,156,255) 0%, rgb(26,225,117) 100%);
   background-image: -webkit-linear-gradient( 2deg, rgb(0,156,255) 0%, rgb(26,225,117) 100%);
   background-image: -ms-linear-gradient( 2deg, rgb(0,156,255) 0%, rgb(26,225,117) 100%);
  height: 140px;
}
#hireme .button-h{
  padding: 15px 28px;
  background: rgba(255, 255, 255, 0.3);
  color:white;
  font-size: 16px;
  border-radius: 24px;
  text-decoration: none;
  }
  #hireme .button-h:hover{
    background: rgba(255, 255, 255, 0.5);
    }
#hireme h3{
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
  color: white;
}

/*Portfolio*/
#portfolio{
  background: #eaeaea;
  text-align: center;
}
#portfolio i{
  font-size: 32px;
  color: gray;
}
.navPortolio{
  margin: 30px 0;
}
.navPortolio button{
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #5F5F5F;
}
.navPortolio button:hover{
  color: #151515;
}
.navPortolio button:focus{
  color: #00ACED;
  outline: none;
}
.navPortolio span{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #151515;
  font-weight: 700;
}


.pBoxcontainer {
  position: relative;
  width: 33%;
  display: inline-block;
}
.pImg {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 158, 216, 0.4);
}
.pBoxcontainer:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 21px;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text a{
  text-decoration: none;
  color: white;
}
.text p{
margin: 10px auto 0 auto;
font-size: 11px;
font-weight: 300;
}

/*Contact*/
#contact{
  background-color: #515151;
  background-image: url("../images/map-image.png");
  color: white;
  background-position: center;
  /*background-size: contain;*/
  background-repeat: no-repeat;
}
#contact i{
  font-size: 26px;
}
.ContactDescription{
  font-size: 21px;
  margin-bottom: 5px;
}
.contactLeft input
{
  width: 92%;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  padding-left: 20px;
  height: 63px;
  border: 1px darkgray solid;
  border-radius: 8px;
  background: rgba(255 ,255 ,255 , 0.4);
  color: white;
}

.contactLeft input:focus
{
  border: 1px #00ACED solid;
  outline: none;
  background: rgba(255 ,255 ,255 , 0.5);
  box-shadow: 0 0 5px #00ACED;
}
.contactLeft{
  float:left;
  text-align: left;
  width: 49%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.contactLeft p{
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  margin: 8px 0 5px 0;
}

.contactLeft .chiquito{
  font-size: 12px;
  color: #ccc;
  margin: 3px 0 8px 0;
}
.buttonContact{
  width: 100%;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  border-style: none;
  border-radius: 32px;
  background: #00ACED;
  color: white;
  cursor: pointer;
}
.buttonContact:hover{
  background: #009ed8;
}
.contactRight{
  float: right;
  width: 49%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.contactRight textarea
{
  margin-top: 32px;
  width: 92%;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  padding: 20px;
  border: 1px darkgray solid;
  border-radius: 8px;
  background: rgba(255 ,255 ,255 , 0.4);
  color: white;
}
.contactRight textarea:focus
{
  border: 1px #00ACED solid;
  outline: none;
  background: rgba(255 ,255 ,255 , 0.5);
  box-shadow: 0 0 5px #00ACED;
}

/*Social*/
#social{
  background: #3B3B3B;
}
.socialIconsContainer{
  margin: 30px auto;
  width: 350px;
  display: flex;
  justify-content: space-around;
}
.socialIconsContainer a{
  color: white;
  text-decoration: none;
}
.socialIconsContainer i{
  font-size: 28px;
}
.socialIconsContainer i:hover{
  color: #00ACED;
  transition: 200ms;
}
.infoContact p{
  display: inline-block;
  color: white;
  font-weight: 300;
  font-size: 18px;
  margin: 5px 0;
}
.infoContact a{
  color: #00ACED;
  text-decoration: none;
}
.infoContact i{
  color: white;
  font-size: 16px;
}

#totop-btn{
  display: inline-block;
  margin: 30px 0;
  color: white;
  cursor: pointer;
}
#totop-btn:hover{
  color: #00ACED;
    transition: 200ms;
}
#totop-btn i{
  font-size: 21px;
}

/*Footer*/
footer{
  background: black;
  color: white;
  font-weight: 300;
}
.copyLeft{
  float: left;
}
.copyRight{
  float: right;
}
.copyRight span{
  color: red;
}

/*RESPONSIVE*/
@media screen and (max-width: 1024px){
  .container2{
    width: 70%;
  }
  .container{
  width: 80%;
  }
  .servicesBox{
    width: 49%;
    margin-bottom: 0;
  }
  .skillsBox{
    width: 49%;
    margin-bottom: 0;
  }
  .skillsBox img{
    width: 200px;
  }
  .bigBox{
  margin-bottom: 30px;
  }
  .pBoxcontainer {
    width: 49%;
  }
}
@media screen and (max-width: 768px){
  .contactLeft, .contactRight{
  float: none;
  margin: 30px auto 50px;
  width: 98%;
  }
}
@media screen and (max-width: 640px){
  .container,.container2{
    width: 80%;
  }
  nav{
  display: none;
  }
  .hamburger{
  display: inline-block;
  }
  .pBoxcontainer {
    width: 100%;
  }
}
@media screen and (max-width: 600px){
  #hireme{
  height: 180px;
  }
}

@media screen and (max-width: 440px){
.socialIconsContainer{
  width: 100%;
  }
}

/*Mouse animation*/
.mouse-wrapper {
  margin: 100px auto 50px auto;
  display: block;
  width: 28px;
}
.mouse {
  width: 28px;
  height: 45px;
  border: 3px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
.mouse .mouse-scroll {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: white;
  position: relative;
  top: 10px;
  left: 12px;
  -webkit-animation: scrolls 1.3s ease-out infinite;
}
@-webkit-keyframes scrolls{
  0%{
    top:10px;opacity:1;height:4px;
  }
  95%{
    top:18px;opacity:0;height:10px;
  }
  100%{
    top:8px;opacity:1;height:4px;
  }
}



#skill-progress {
  width: 200px;
  height: 200px;
}
